%h1 HELLO, PARDNER
%p
  = link_to('See past games',game_records_path, class: 'btn btn-default')
%p
  = link_to('Create a new one', new_game_record_path, class: 'btn btn-default')
%p
  = link_to('See all brains', brains_path, class: 'btn btn-default')