-@stats.each do |table|
  %h4= table.title
  %table{:border => 1, class: 'table table-striped'}
    %tr
    -table.header.each do |brain|
      %th= brain
    - table.rows.each do |row|
      %tr
      -row.each do |event|
        %td= event
