%h3 Here's a buncha brains:
%table{:border => 1, class: 'table table-striped'}
  %tr
  -@stats.header.each do |brain|
    %th= brain
  - @stats.rows.each do |row|
    %tr
    -row.each do |event|
      %td= event
